@model ASP.NETWebApp.Models.Product 

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table mt-1">
    <tr>
        <th>Product Id</th>
        <td>@Model.ProductId</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>Date Of Purchase</th>
        <td>@Model.DateOfPurchase.Value.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Availability Status</th>
        <td>@Model.AvailabilityStatus</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.Category.CategoryName</td>
    </tr>
    <tr>
        <th>Brand</th>
        <td>@Model.Brand.BrandName</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>@Model.Active</td>
    </tr>
</table>
