@model ASP.NETWebApp.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<!-- UPDATE PRODUCT By ProductId-->
<form action="/Products/Edit/@Model.ProductId" method="post">

    <!-- PRODUCT ID = IDENTITY(1,1) In Db-->

    <div class="form-row">
        <!-- Product Name-->
        <div class="form-group col-md-6">
            <input type="hidden" name="ProductID" value="@Model.ProductId" />
            <label for="ProductName">Product Name</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Product Name" value="@Model.ProductName">
        </div>
        <!-- Price-->
        <div class="form-group col-md-6">
            <label for="Price">Price</label>
            <input type="number" class="form-control" id="Price" name="Price" placeholder="Price" value="@Model.Price">
        </div>
    </div>

    <div class="form-row">
        <!-- Date of Purchase-->
        <div class="form-group col-md-6">
            <label for="DateOfPurchase">Date of Purchase</label>
            <input type="date" class="form-control" id="DateOfPurchase" name="DateOfPurchase" placeholder="Date of Purchase" value="@Model.DateOfPurchase.Value.ToString("yyyy-MM-dd")">
        </div>
        <!-- Availability Status-->
        <div class="form-group col-md-6">
            <label for="AvailabilityStatus">Availability Status</label>
            <input type="text" class="form-control" id="AvailabilityStatus" name="AvailabilityStatus" placeholder="Availability Status" value="@Model.AvailabilityStatus">
        </div>
    </div>

    <div class="form-row">
        <!-- CategoryId-->
        <div class="form-group col-md-6">
            <label for="CategoryID">Category ID</label>
            <input type="text" class="form-control" id="CategoryID" name="CategoryID" placeholder="Category ID" value="@Model.CategoryId">
        </div>
        <!-- BrandId-->
        <div class="form-group col-md-6">
            <label for="BrandID">Brand ID</label>
            <input type="text" class="form-control" id="BrandID" name="BrandID" placeholder="Brand ID" value="@Model.BrandId">
        </div>
    </div>

    <!-- Active ? CHECKBOX-->
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Active" name="Active" checked="@Model.Active" value="true">
            <label class="form-check-label" for="Active">Active</label>
        </div>
    </div>

    <!-- Update |Cancel Button-->
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-danger" href="@Url.Action("Index", "Products")">Cancel</a>
</form>

