@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ASP.NETWebApp.Models.Product>

@{
    ViewBag.Title = "Index";
}


<h2>Products</h2>

@*Add Product: /Products/Create*@
<a class="btn btn-md bg-success text-white" href="@Url.Action("Create", "Products")">Create</a>

@*SEARCH bar: SEARCH PRODUCT BY NAME*@
<form class="form-inline mt-2" action="/Products/Index">
    <input type="search" class="form-control" id="search" name="search" value="@ViewBag.Search" placeholder="Search(by name)...">

    <!-- button -->
    <button type="submit" class="btn btn-primary">Go</button>
</form>


<table class="table mt-2 table-responsive">
    <thead>
        <tr class="table-secondary">
            <th style="width:5%">Image</th>
            <th style="width:10%">Product Id</th>
            <th style="width:20%">Product Name</th>
            <th style="width:10%">Price</th>
            <th style="width:10%">Date Of Purchase</th>
            <th style="width:10%">Availability Status</th>
            <th style="width:10%">Category</th>
            <th style="width:10%">Brand</th>
            <th style="width:5%">Active</th>
            <th style="width:10%" colspan="3" class="text-center bg-light">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="data:image;base64,@item.Photo" width="100" height="100" /></td>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price.Value.ToString("C")</td>
                <td>@item.DateOfPurchase.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.AvailabilityStatus</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Brand.BrandName</td>
                <td>@item.Active</td>

                <!-- DETAILS|Edit|Delete Buttons-->
                <td><a class="btn btn-light text-primary" href="/Products/Details/@item.ProductId">Details</a></td>
                <td><a class="btn btn-primary text-white" href="/Products/Edit/@item.ProductId">Edit</a></td>
                <td><a class="btn btn-danger text-white" href="/Products/Delete/@item.ProductId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<br/>

<!--============-->
<!-- PAGINATION -->
<!--============-->
<div id="container" style="margin-left:20px;">  
    <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
    <div class="pager pagination">
        <b>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                           PagedListRenderOptions.PageNumbersOnly)
        </b>
    </div>
</div>


